<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reset password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
    body {
      font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
    }
  </style>
</head>
<body>
<h1>Reset your password</h1>
<div>Hello ${name}</b> !</div>
<p>
    Please verify your OTP.
    <br/><br/>
    OTP : ${otp}</b><br/>
</p>

<p>
    Regards, <br />
    &emsp; <em>merostore team</em>
</p>
</body>
</html>